.select {
  width: 10%;
  background-color: #dddddd;
  border-radius: 8px;
  padding: 8px 0;
}

.option {
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: #f4f6f8;
  }

  &[data-active='true'] {
    background-color: #f4f6f8;
  }
}

.option:nth-of-type(1) {
  color: #5d5d5d;
}

.option:nth-of-type(7) {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}

.option.selected {
  background-color: #f4f6f8;
}
