.filterContainer {
  display: none;

  &[data-filter-open='true'] {
    display: flex;
    flex-direction: column;
    width: 35rem;
  }
}

.filter {
  flex-wrap: wrap;
  gap: 1rem;

  p {
    width: 1rem;
  }

  .input-holder {
    width: calc(42% - 1rem);
  }

  div + div {
    display: flex;
    flex-direction: column;
  }

  .select-holder div:nth-of-type(1) {
    width: calc(23% - 1rem);
    margin-left: auto;
  }

  .select-holder:nth-of-type(2) {
    width: calc(31% - 1rem);
  }
}

.filterButton {
  width: 8rem;
  padding-block: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #16b142;
}

.buttonHolder {
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid #a5a3a3;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
