.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f2f2f2;
  gap: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.pageSize {
  display: flex;
  align-items: center;
}

.pageSize label {
  width: 8rem;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #dddddd;
  cursor: pointer;
}

.paginationButton[data-disabled='true'] {
  opacity: 50%;
  cursor: not-allowed;
}

select {
  width: 4rem;
  background-color: transparent;
  margin: 0;
}
